<div class="container general-margin">
    <div class="row">
        <h1 class="text-center titles">Nueva suscripci&oacute;n</h1>
        
        <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3 form-container">
            <% if @suscription.errors.any? %>
                <h5>Por favor llena todos los campos.</h5>
                <ul>
                <% @suscription.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
                </ul>
            <% end %>
            <%= form_for (@suscription) do |f| %>
                <div class="col-xs-12">
                    <h3 class="label-form">Nombre completo:</h3>
                    <%= f.text_field :username, class: 'input-form-style', placeholder: "Nombre completo" %>
                </div>
                
                <div class="col-xs-12">
                    <h3 class="label-form">Correo elect&oacute;nico:</h3>
                    <%= f.email_field :email, class: 'input-form-style', placeholder: "Correo electrónico" %>
                </div>
                
                <div class="col-xs-12">
                    <h3 class="label-form">Calle y n&uacute;mero:</h3>
                    <%= f.text_field :direccion, class: 'input-form-style', placeholder: "Dirección" %>
                </div>
                
                <div class="col-xs-12">
                    <h3 class="label-form">Colonia:</h3>
                    <%= f.text_field :colonia, class: 'input-form-style', placeholder: "Colonia" %>
                </div>
                
                <div class="col-xs-12 col-md-6">
                    <h3 class="label-form">Ciudad:</h3>
                    <%= f.select :ciudad, [['Mexicali','Mexicali']], class: 'input-form-style' %>
                </div>
                
                <div class="col-xs-12 col-md-6">
                    <h3 class="label-form">Estado:</h3>
                    <%= f.select :estado, [['Baja California','Baja California']], class: 'input-form-style' %>
                </div>
                
                <div class="col-xs-12 col-md-6">
                    <h3 class="label-form">C&oacute;digo Postal:</h3>
                    <%= f.number_field :cp, class: 'input-form-style', placeholder: "Código postal" %>
                </div>
                
                <div class="col-xs-12 col-md-6">
                    <h3 class="label-form">Tel&eacute;fono (con lada):</h3>
                    <%= f.telephone_field :telefono, class: 'input-form-style', placeholder: "Teléfono con lada" %>
                </div>
                
                <div class="col-xs-12">
                    <h3 class="label-form">Selecciona la caja a la que deseas suscribirte:</h3>
                    <%= f.select :nombre, [['Munchie-mania','Munchie-mania'],['Infusion','Infusion'],['Lola Maria', 'Lola Maria']] %>
                </div>
                
                <div class="col-xs-6">
                    <br>
                    <strong>Precio:</strong><br>
                    <strong>Envío:</strong><br>
                    <strong>IVA:</strong><br>
                    <strong>Total:</strong>
                </div>
                <div class="col-xs-6">
                    <br>
                    $195.00<br>
                    ¡Gratis!<br>
                    $31.20<br>
                    $226.20 / mes
                </div>
                
                <div class="col-xs-12">
                    <%= f.submit 'Suscribirse', class: "btn-suscribe btn-yellow-white"%>
                </div>
            <% end %>
        </div>
    </div>
</div>